.titla {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 1250px;
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000000000;
    max-width: 80%; /* Adjust the maximum width as needed */
    font-weight: lighter;
    font-weight: bold;
}

.titla1 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 1300px;
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000000000;
    max-width: 80%; /* Adjust the maximum width as needed */
    text-align: center;
    font-weight: lighter;

}
.titla2 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 1400px;
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000000000;
    max-width: 80%; /* Adjust the maximum width as needed */
    text-align: center;
    font-weight: lighter;

}

.titla3 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 1500px;
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000000000;
    max-width: 80%; /* Adjust the maximum width as needed */
    text-align: center;
    font-weight: lighter;
}
.titla4 {
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 1600px;
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000000000;
    max-width: 80%; /* Adjust the maximum width as needed */
    text-align: center;

}


.paypal {
    width: 50%;
    height: auto;
    position: absolute;
    top: 1900px;
    left: 50%;

    transform: translate(-50%, -50%);
}

.titla5 {
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 2150px;
    transform: translate(-50%, -50%);
    z-index: 100000000000000000000000000;
    max-width: 80%; /* Adjust the maximum width as needed */
    text-align: center;

}